@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-weight: 400px;
  font-family: SPoopins;
  background-color: black !important;
  color: #fff;
  overflow-x: hidden;
  position: relative;
  
}


  a, h1, h4, p, link {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }







